<link rel="stylesheet" href="/app/components/parkingsearch/search.css">

<div class="container">
  <div class="row">
    <h2>Find a parking</h2>
    <form ng-submit="launchSearch()" class="form form-group">
      <div class="col-md-12">
        <input type="text" class="form-control" ng-model="form.address" />
      </div>
    </form>
  </div>
  <div class="row">
    <div class="map">
      <leaflet id="map" center="center" event-broadcast="events" height="400px" width="100%"></leaflet>
    </div>
  </div>
</div>
