<link rel="stylesheet" href="/app/components/addparking/addparking.css">

<div ng-controller="AddPrkgCtrl">
    <form ng-submit="submit()">
        <div class="form-group">
            <label for="address">Adresse</label>
            <input type="text" class="form-control" id="address" placeholder="115 cours vitton"
                   ng-model="parking.address">
        </div>
        <div class="form-group">
            <label for="zip">Code Postal</label>
            <input type="text" class="form-control" id="zip" placeholder="69100"
                   ng-model="parking.zip">
        </div>
        <div class="form-group">
            <label for="city">Ville</label>
            <input type="text" class="form-control" id="city" placeholder="Villeurbanne"
                   ng-model="parking.city">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" ng-model="parking.description"
                      placeholder="Présentez votre parking, les horaires auxquels les usagers peuvent s'y garer, les informations d'accès ou tout autre détail."></textarea>

        </div>
        <div class="form-group">
            <label for="price">Prix</label>

            <div class="input-group col-md-2">
                <input type="number" step="any" class="form-control" id="price" placeholder="0.00"
                       ng-model="parking.price">
                <span class="input-group-addon">€</span>
            </div>
        </div>
        <button type="button" class="btn primary-btn" ng-click="getAddress()">Géolocalisez mon parking</button>
        <div id="map">
            <leaflet center="center" event-broadcast="events" markers="markers" height="400px" width="600px"></leaflet>
        </div>

        <button type="submit" class="btn btn-default">Enregistrez !</button>
    </form>
</div>
