<nav class="navbar navbar-default navbar-static">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">Park-A-Car</a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li ng-if="!isConnected()"><a href="#signin">Se connecter</a></li>
            <li ng-if="!isConnected()"><a href="#signup">S'inscrire</a></li>
            <li ng-if="isConnected()"><a href="#dashboard">Dashboard</a></li>
            <li ng-if="isConnected()"><a href="#logout">Logout</a></li>
        </ul>
    </div>
</nav>
