<link rel="stylesheet" href="/app/components/dashboard/dashboard.css">
<div class="container">
  <div class="row">
    <h1>Dashboard</h1>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>Ajouter votre parking</h2>
          <a class="btn btn-default" href="#addparking" id="add-parking">Créer un parking</a>
        </div>
        <div class="col-md-8">
          <div class="well add-parking-description">
            Mettez facilement votre parking à disposition.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
