<link rel="stylesheet" href="/app/components/dashboard/dashboard.css">
<div class="container">
  <div class="row">
    <h1>Dashboard</h1>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>Start renting a parking</h2>
          <input type="button" id="add-parking" value="Add a parking"/>
        </div>
        <div class="col-md-8">
          <div class="well add-parking-description">
            Easily rent your parking here.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
