#marketing-home-text {
    text-align: justify;
    color: #ccc;
}

.home-cover {
  margin: 0px;
  height: 400px;
  padding-top: 80px;
  padding-bottom: 80px;
  color: white;
  background: transparent url("/app/shared/garage_1.jpg") no-repeat scroll center center
}

button {
  color: black;
}
