<link rel="stylesheet" href="app/components/signup/signup.css">
<div>
  <form novalidate class="form form-group" method="post">
    <h1>Sign up</h1>
    <label>
      <span>Firstname</span>
      <div class="input-group">
        <span class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
        <input class="form-control" type="text" name="firstname" placeholder="Bob" ng-model="infos.firstname" />
      </div>
    </label>
    <label>
      <span>Email</span>
      <div class="input-group">
        <span class="input-group-addon"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></span>
        <input type="text" class="form-control" id="email" placeholder="bobsaget@example.com" ng-model="infos.email" />
      </div>
    </label>
    <label>
      <span>Password</span>
      <div class="input-group">
        <span class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
        <input type="password" class="form-control" id="password" ng-model="infos.password" ng-blur="checkPassword()">
      </div>
      <span class="has-error" ng-if="showErrors.password.length > 0">{{showErrors.password}}</span>
    </label>

    <input class="form-control" type="submit" value="Sign up!" ng-click="submit()"></input>
  </form>
</div>
